@font-face {
    font-family: Fantaisie;
    src: url(../fonts/FantaisieArtistique.ttf)
}
@font-face {
    font-family: Neverland;
    src: url(../fonts/Magical\ Neverland.ttf)
}
@font-face {
    font-family: MagicOne;
    src: url(../fonts/MagicSchoolOne.ttf)
}
@font-face {
    font-family: MagicTwo;
    src: url(../fonts/MagicSchoolTwo.ttf)
}
@font-face {
    font-family: Britney;
    src: url(../fonts/Britney-Variable.ttf)
}
@font-face {
    font-family: Dancing;
    src: url(../fonts/DancingScript-Variable.ttf)
}



.Navbar {
    top: 0;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007BFF;
  }

.NavLink1 {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }
.NavLogo {
    color: #f4f4f4;
    font-family: Britney;
    font-weight: bold;
    font-size: 50px;
}

.NavLinks {
    display: flex;
    align-items: center;
    gap: 2vw;
  }
  