.Test {
    top: 0;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282c34;
  }



.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #282c34;
    padding: 20px;
  }

  .page-container{
      width: 100vw; /* Full width */
      height: 100vh; /* Full height */
      display: flex; /* Center content if needed */
      justify-content: center;
      align-items: center;
      padding: 2rem;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }